version: "3.9"

services:
  web:
    build: .
    container_name: django_app
    env_file:
      - .env
    expose:
      - "8000"

  nginx:
    image: nginx:alpine
    ports:
      - "8080:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - web

